streamlit

langchain
langchain-core
langchain-openai
langchain-community
langchain-text-splitters  # ✅ ADD THIS

openai

langchain-anthropic
langchain-google-genai
google-generativeai

langchain-huggingface
transformers
huggingface-hub

python-dotenv
numpy
scikit-learn

pypdf
python-docx
faiss-cpu